article {
  margin-bottom: 3rem;

  p:first-child {
    margin-top: 0;
  }
  p:nth-child(even) {
    text-align: center;
  }

  p:nth-last-child(2) {
    margin-top: 3rem;
  }
}

::ng-deep .p-dialog .p-dialog-content {
  background-color:#30495b;
  color: #fff;
  padding-top: 1.5rem;
}

::ng-deep {
  .p-dialog-header {
    position: relative;
    font-family: alice;
    background-color: #0b202f;
    padding: 1.5rem 1rem;
    color: #fff;

    .p-dialog-header-icon:last-child {
      margin-right: -7px;
    }
    &::after {
      content: "";
      width: 95%;
      height: 0.5px;
      margin-left: auto;
      margin-right: auto;
      background-color: #fff;
      position: absolute;
      bottom: 2px;
      left: 50%;
      transform: translateX(-50%);
    }
    button {
      color: #fff;
    }
  }
}
