<app-page-header
  [elementIcon]="'assets/images/myTables-title-icon.svg'"
  [title]="'Création de table'"
></app-page-header>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ng-container *ngIf="tableNameField$ | async as tableNameField">
    <app-input-text
      [field]="tableNameField"
      formControlName="tableName"
      [control]="tableNameControl"
    >
    </app-input-text>
  </ng-container>

  <app-custom-area-title
    [title]="'Télécharger un avatar'"
  ></app-custom-area-title>
  <div class="add-image-area">
    <app-custom-add-button></app-custom-add-button>
  </div>
  <footer class="page-footer">
    <app-custom-button
      [style]="'gold'"
      [name]="'Retour'"
      PreviousPage
    ></app-custom-button>
    <app-custom-button [style]="'gold'" [name]="'Suivant'"></app-custom-button>
  </footer>
</form>
