<app-page-header [elementIcon]="'assets/images/myTables-title-icon.svg'" [title]="'Création de table'"></app-page-header>
<app-custom-area-title [title]="'Nom de table'"></app-custom-area-title>
<input type="text">
<app-custom-area-title [title]="'Télécharger un avatar'"></app-custom-area-title>
<div class="add-image-area">
    <app-custom-add-button></app-custom-add-button>
    <!-- MODULE PRIMENG A VOIR AVEC NELIA
        
        <p-fileUpload 
    mode="basic" 
    src=""
    name="demo[]" 
    url="https://www.primefaces.org/cdn/api/upload.php" 
    accept="image/*" 
    maxFileSize="1000000" 
    /> -->
</div>
<app-custom-button [style]="'gold'" [name]="'Suivant'"></app-custom-button>
<!--
    // A rajouter dans p-fileupload au moment de l'utilisation avec la bdd
        (onUpload)="onUpload($event)" 
-->
