<div class="note-body">
    <div class="close-btn-container">
        <img class="close-btn" [src]="'assets/images/cross-golden-icon.svg'" (click)="closeNotes()" alt="close">
    </div>
    <app-page-header [elementIcon]="'assets/images/note-gold-icon.svg'" [title]="'Mes notes'"></app-page-header>
    <nav class="notes-navbar">
        <app-custom-button [style]="'gold'" [name]="'Notes personnelles'" [routerLink]="['/userNotes', fakeUserId]"></app-custom-button>
        @if (fakeCharacterId) {
            <app-custom-button [style]="'gold'" [name]="'Notes de table'" [routerLink]="['/characterNotes', fakeCharacterId]"></app-custom-button>
        }
    </nav>
    <router-outlet></router-outlet>
</div>
