<ng-container *ngIf="userConnected$ | async as userConnected; else visitor">
  <header class="header">
    <div class="header-side" (click)="onClick()">
      <app-header-button
        class="header-btn"
        [picture]="'assets/images/menu-icon.svg'"
      ></app-header-button>
      <span>Menu</span>
    </div>
    <h1 class="app-title" [routerLink]="userHomeLink">
      {{ title | uppercase }}
    </h1>
    <div class="header-side">
      @if ((characterConnected$|async) || (tableConnected$|async)) {
        @if (characterConnected$|async) {
          <button
          class="header-btn avatar"
          [ngStyle]="{ 'background-image': 'url(' + (characterConnected$|async)?.avatar + ')' }"
        ></button>  
        } @else {
          <button
          class="header-btn avatar"
          [ngStyle]="{ 'background-image': 'url(' + (tableConnected$|async)?.Avatar + ')' }"
        ></button>  
        }
      } @else {
        <button
          class="header-btn avatar"
          [ngStyle]="{ 'background-image': 'url(' + userConnected.avatar + ')' }"
        ></button>
      }
    </div>
  </header>
  <app-notes-button
    (click)="goToNotepad()"
  ></app-notes-button>
  <app-dice-button (click)="goToDiceRoll()"></app-dice-button>
  <app-menu-sidebar></app-menu-sidebar>
</ng-container>
<ng-template #visitor>
  <header class="header">
    <h1 class="app-title full" [routerLink]="userHomeLink">
      {{ title | uppercase }}
    </h1>
  </header>
  <app-dice-button (click)="goToDiceRoll()"></app-dice-button>
</ng-template>
