
    <div class="informations">
        <div class="line">
            <!--input written by player-->
            <div class="information-container size-l">
                <input type="text" name="characterName" id="characterName">
                <label for="characterName">NOM DU PERSONNAGE</label>
            </div>
            <!--input written by player-->
            <div class="information-container size-l">
                <input type="text" name="playerName" id="playerName">
                <label for="playerName">JOUEUR</label>
            </div>
        </div>
        <div class="line">
            <!--self-filled-->
            <div class="information-container size-m">
                <app-classes-list></app-classes-list>
            </div>
            <div class="information-container size-xs">
                <div class="auto">1</div>
                <div>NIVEAU</div>
            </div>
            <!--self-filled-->
            <div class="information-container size-m">
                <app-race-list></app-race-list>
            </div>
            <!--input written by player-->
            <div class="information-container size-m">
                <app-alignment-list></app-alignment-list>
            </div>
            <!--input written by player-->
            <div class="information-container size-m">
                <input type="text" name="god" id="god">
                <label for="god">DIVINITE</label>
            </div>
        </div>
        <div class="line">
            <!--self-filled-->         
            <div class="information-container size-s">
                <app-size-categorie-auto></app-size-categorie-auto>
            </div>
            <!--self-filled-->
            <div class="information-container size-s">
                <div class="auto">115 ans</div>
                <div>AGE</div>
            </div>
            <!-- select choose by player -->
            <div class="information-container size-xs">
                <app-gender-list></app-gender-list>
            </div>
            <!--self-filled-->
            <div class="information-container size-s">
                <app-height-auto></app-height-auto>
            </div>
            <!--self-filled-->
            <div class="information-container size-s">
                <div class="auto">110 kgs</div>
                <div>POIDS</div>
            </div>
            <!--input written by player-->
            <div class="information-container size-m">
                <input type="text" name="eyes" id="eyes">
                <label for="eyes">YEUX</label>
            </div>
            <!--input written by player-->
            <div class="information-container size-m">
                <input type="text" name="hair" id="hair">
                <label for="hair">CHEVEUX</label>
            </div>
            <!--input written by player-->
            <div class="information-container size-m">
                <input type="text" name="skin" id="skin">
                <label for="skin">PEAU</label>
            </div>
        </div>
    </div>
    <div class="logo">
        <img src="/assets/images/dungeons-and-dragons-logo-2000.png" alt="logo de Donjons et Dragons">
    </div>
