<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <p-accordion [multiple]="true" [activeIndex]="[]">
    <p-accordionTab header="Titre">
      <ng-container *ngIf="noteTitleField$ | async as noteTitleField">
        <app-input-text
          [field]="noteTitleField"
          formControlName="noteTitle"
          [control]="noteTitleControl"
        >
        </app-input-text>
      </ng-container>
    </p-accordionTab>
    <p-accordionTab header="Description">
      <ng-container
        *ngIf="noteDescriptionField$ | async as noteDescriptionField"
      >
        <app-input-textarea
          [field]="noteDescriptionField"
          formControlName="noteDescription"
          [control]="noteDescriptionControl"
        >
        </app-input-textarea>
      </ng-container>
    </p-accordionTab>
  </p-accordion>
  <app-custom-button
    type="submit"
    [name]="'Valider'"
    [style]="'gold'"
    class="validation-button"
  ></app-custom-button>
</form>
