:host {
    display:  flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 100vw;
    padding: 2rem 5% 1em 5%;
    background-color: #0b202f;
    color: #fff;
    font-family: alice;
    font-size: large;
}