<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <p-accordion [multiple]="false" [activeIndex]="0">
    <p-accordionTab header="Titre">
      <ng-container *ngIf="nameField$ | async as nameField">
        <app-input-text
          [field]="nameField"
          formControlName="name"
          [control]="nameControl"
        >
        </app-input-text>
      </ng-container>
    </p-accordionTab>
    <p-accordionTab header="Description">
      <ng-container
        *ngIf="textField$ | async as textField"
      >
        <app-input-textarea
          [field]="textField"
          formControlName="text"
          [control]="textControl"
        >
        </app-input-textarea>
      </ng-container>
    </p-accordionTab>
  </p-accordion>
  <app-custom-button
    type="submit"
    [name]="'Valider'"
    [style]="'gold'"
    class="validation-button"
  ></app-custom-button>
</form>
