@import url("./../../../shared/character-sheet.scss");

:host {
    display: flex;
    flex-direction: column;
}

.auto {
    height: 24px;
    padding: 1px;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
}