<app-return-button></app-return-button>
<app-page-header
  [elementIcon]="'assets/images/dice-icon.svg'"
  [title]="'Invitations en cours'"
></app-page-header>
<body>

  <p-accordion [activeIndex]="">
    <ng-container *ngIf="userInvitedList$ | async as userInvitedList">
      <p-accordionTab header="Utilisateurs">
        <div class="card-container">
          @if(userInvitedList.length){
            <app-character-card
            *ngFor="let userInvited of userInvitedList"
            [character]="userInvited"
            [isUserCard]="true"
            ></app-character-card>
          } @else {
            <p>Pas d'utilisateur invité.</p>
          }
          </div>
      </p-accordionTab>

    </ng-container>
    <ng-container *ngIf="characterOnHoldList$| async as characterOnHoldList">
      <p-accordionTab header="Personnages">
        <div class="card-container">
          @if(characterOnHoldList.length){
            <app-character-card
            *ngFor="let character of characterOnHoldList"
            [character]="character"
            ></app-character-card>
          } @else {
            <p>Pas de joueur en attente de validation.</p>
          }
        </div>
      </p-accordionTab>
    </ng-container>
  </p-accordion>
</body>
