:host {
    position: absolute;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 200;

    .close-btn {
        position: absolute;
        top: 10px;
        left: 10px;
        filter: invert(1);
        width: 35px;
    }
    .character-sheet-img {
        display: inline-block;
        width: 100vw;
    }
}
