:host {
  width: 95%;
}

.element-list {
  padding-inline-start: 0;
  list-style: none;

  .element-line {
    width: 100vw;
    padding: 0 1.5rem;
    background-color: #172C3b;
    border: 2px solid #172C3b;
    transform: translateX(0%);
    display: flex;
    gap: 1em;
    
    &:nth-child(odd) {
      background-color: #0b202f;
      border: 2px solid #0b202f;
    }


    .element-name {
      flex-grow: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    img {
      width: 20px;
    }
  }
}
