:host {
  width: 95%;
}

.character-list {
  padding-inline-start: 0;
  list-style: none;

  .character-line {
    width: 100vw;
    padding: 0 1.5rem;
    transform: translateX(0%);
    display: flex;
    gap: 1em;

    .character-name {
      flex-grow: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
