.header-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-left: 0px;
    padding-right: 0px;
    border: none;
    background: transparent;
    .header-img {
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }
}