:host {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.75rem 5% 1rem;

  img {
    height: 1.5em;
  }

  p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 1.7rem;
  }
}
