<ng-container *ngIf="character$ | async as character">
  <app-page-header
    [elementIcon]="'assets/images/user-icon.svg'"
    [title]="character.name"
  ></app-page-header>
  <app-character-presentation
    [character]="character"
    (isCharachterSheetVisible)="toggleCharacterSheetVisible($event)"
  ></app-character-presentation>
  <ng-container *ngIf="table$ | async as table; else noTable">
    <app-custom-area-title
      [title]="'Table reliée :\n' + table.name"
      (click)="linkToCharacterTable(table.id)"
    ></app-custom-area-title>
  </ng-container>
  <ng-template #noTable>
    <app-custom-area-title title="Aucune table"></app-custom-area-title>
  </ng-template>
  <ng-container *ngIf="chatList$ | async as chatList">
    <p-accordion [activeIndex]="">
      <p-accordionTab header="Discussions">
        <app-list-of-element
          [baseUrl]="''"
          [elementIcon]="'assets/images/discussion-icon.svg'"
          [elementList]="chatList"
        ></app-list-of-element>
        <app-custom-add-button></app-custom-add-button>
      </p-accordionTab>
    </p-accordion>
  </ng-container>
  <footer class="page-footer">
    <app-custom-button
      [style]="'gold'"
      [name]="'Retour'"
      PreviousPage
    ></app-custom-button>
    <app-custom-button
      [style]="'gold'"
      [name]="'Reprendre ce personnage'"
    ></app-custom-button>
  </footer>
  @if (isCharacterSheetVisible) {
  <app-character-sheet-display
    (isCharacterSheetVisible)="toggleCharacterSheetVisible($event)"
  ></app-character-sheet-display>
  }
</ng-container>
