<ng-container *ngIf="foundCharacter$ | async as foundCharacter">
  <p-toast />
  <div
    class="character-description"
    [ngStyle]="{
      'background-image':
        'linear-gradient(rgba(11, 32, 47, 0.9), rgba(11, 32, 47, 0.7)), ' +
        'url(' +
        foundCharacter.avatar +
        ')'
    }"
  >
    <app-return-button></app-return-button>
    <app-page-header
      [elementIcon]="'assets/images/character-icon.svg'"
      [title]="foundCharacter.name"
    ></app-page-header>

    <div class="button-container">
      <app-character-presentation
        [character]="foundCharacter"
        (isCharachterSheetVisible)="toggleCharacterSheetVisible($event)"
      ></app-character-presentation>
    </div>
    <footer class="page-footer">
      <app-custom-button
        [style]="'gold'"
        [name]="'Joue\n ce personnage'"
        (click)="selectCharacterToPlay(foundCharacter)"
      ></app-custom-button>
    </footer>
  </div>
  @if (isCharacterSheetVisible) {
  <app-character-sheet-display
    (isCharacterSheetVisible)="toggleCharacterSheetVisible($event)"
  ></app-character-sheet-display>
  }
</ng-container>
