<div class="note-body">
  <div class="close-btn-container">
    <img
      class="close-btn"
      [src]="'assets/images/cross-golden-icon.svg'"
      (click)="closeNotes()"
      alt="close"
    />
  </div>
  @if ((fakeCharacterConnected$|async) || (fakeTableConnected$|async)) {
    @if (fakeCharacterConnected$|async) {
      <p>Vous jouez votre personnage :</p>
      <p>{{(fakeCharacterConnected$|async)?.name}}</p>
    } @else {
      <p>Vous etes MJ de la table :</p>
      <p>{{(fakeTableConnected$|async)?.name}}</p>
    }
  }
  <app-page-header
    [elementIcon]="'assets/images/note-gold-icon.svg'"
    [title]="'Mes notes'"
  ></app-page-header>
  <nav class="notes-navbar">
    <app-custom-button
      [style]="isUserSelected ? 'dblue-gold' : 'gold'"
      [name]="'Notes personnelles'"
      [routerLink]="['user/notes']"
      (click)="setUserSelected(true)"
    ></app-custom-button>
    @if ((fakeCharacterConnected$|async) || (fakeTableConnected$|async)) {
    <app-custom-button
      [style]="!isUserSelected ? 'dblue-gold' : 'gold'"
      [name]="'Notes de table'"
      [routerLink]="'game/notes'"
      (click)="setUserSelected(false)"
    ></app-custom-button>
    }
  </nav>
  <router-outlet></router-outlet>
</div>
