<div class="note-body">
  <div class="close-btn-container">
    <img
      class="close-btn"
      [src]="'assets/images/cross-golden-icon.svg'"
      (click)="closeNotes()"
      [routerLink]="'../user'"
      alt="close"
    />
  </div>
  <app-page-header
    [elementIcon]="'assets/images/note-gold-icon.svg'"
    [title]="'Mes notes'"
  ></app-page-header>
  <nav class="notes-navbar">
    <app-custom-button
      [style]="isUserSelected === 1 ? 'dblue-gold' : 'gold'"
      [name]="'Notes personnelles'"
      [routerLink]="['user', fakeUserId, 'notes']"
      (click)="setUserSelected(1)"
    ></app-custom-button>
    @if (fakeCharacterId) {
    <app-custom-button
      [style]="isUserSelected === 2 ? 'dblue-gold' : 'gold'"
      [name]="'Notes de table'"
      [routerLink]="['game', fakeCharacterId, 'notes']"
      (click)="setUserSelected(2)"
    ></app-custom-button>
    }
  </nav>
  <router-outlet></router-outlet>
</div>
