<ng-container *ngIf="table$ |async as table">
    <app-page-header [elementIcon]="'assets/images/table-icon.svg'" [title]="table.name"></app-page-header>
    <app-table-presentation [table]="table"></app-table-presentation>
    <app-custom-area-title [title]="'Liste des joueurs'"></app-custom-area-title>
    <ng-container *ngIf="userList$|async as users">
    <app-list-of-element [elementList]="users" [elementIcon]="'assets/images/character-icon.svg'" [replacementIcon]="'assets/images/hourglass-icon.svg'"></app-list-of-element>
    </ng-container>
    <app-custom-add-button [routerLink]="'newPlayer'" ></app-custom-add-button>
    <app-custom-area-title [title]="'Chat avec les joueurs'"></app-custom-area-title>
    <ng-container *ngIf="chatList$|async as chatList">
    <app-list-of-element [elementList]="chatList" [elementIcon]="'assets/images/discussion-icon.svg'"></app-list-of-element>
    </ng-container>
    <app-custom-add-button ></app-custom-add-button>
    <app-custom-area-title [title]="'Dessins'"></app-custom-area-title>
    <app-list-of-element [elementList]="" [elementIcon]="'assets/images/brush-icon.svg'"></app-list-of-element>
    <app-custom-add-button ></app-custom-add-button>
</ng-container>
<div class="bottom-part">
    <app-custom-button [style]="'gold'" [name]="'Sélectionner'"></app-custom-button>
</div>
