:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  padding: calc(90px + 0.25em) 0% 1rem 0%;
  background-color: #0b202f;
  color: #fff;
  font-family: alice;
  font-size: large;
}
.table-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 55vh;
  margin-bottom: 1rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

:host ::ng-deep p-accordion {
  margin-top: 1rem;
  .p-accordion,
  .p-accordion-header:not(.p-disabled).p-highlight,
  .p-accordion-header-link {
    background-color: #30495b;
    color: #fff;
    font-family: alice;
    font-size: 1.2rem;
    font-weight: normal;
  }
  .p-accordion,
  .p-accordion-content {
    background-color: #0b202f;
    padding: 0 0 1rem;
    border: none;
    color: #fff;
  }
}
.bottom-part {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
}
