
    <div class="informations">
        <div class="line">
            <div class="information-container size-l">
                <input type="text" name="characterName" id="characterName">
                <label for="characterName">NOM DU PERSONNAGE</label>
            </div>
            <div class="information-container size-l">
                <input type="text" name="playerName" id="playerName">
                <label for="playerName">JOUEUR</label>
            </div>
        </div>
        <div class="line">
            <div class="information-container size-l">
                <div class="auto">1</div>
                <div>CLASSE</div>
            </div>
            <div class="information-container size-xs">
                <div class="auto">1</div>
                <div>NIVEAU</div>
            </div>
            <div class="information-container size-m">
                <div class="auto">1</div>
                <div>RACE</div>
            </div>
            <div class="information-container size-m">
                <input type="text" name="alignment" id="alignment">
                <label for="alignment">ALIGNEMENT</label>
            </div>
            <div class="information-container size-m">
                <input type="text" name="god" id="god">
                <label for="god">DIVINITE</label>
            </div>
        </div>
        <div class="line">         
            <div class="information-container size-s">
                <div class="auto">une valeur</div>
                <div>CATEGORIE DE TAILLE</div>
            </div>
            <div class="information-container size-s">
                <div class="auto">une valeur</div>
                <div>AGE</div>
            </div>
            <div class="information-container size-xs">
                <div class="auto">M</div>
                <div>GENRE</div>
            </div>
            <div class="information-container size-s">
                <div class="auto">une valeur</div>
                <div>TAILLE</div>
            </div>
            <div class="information-container size-s">
                <div class="auto">une valeur</div>
                <div>POIDS</div>
            </div>
            <div class="information-container size-m">
                <input type="text" name="eyes" id="eyes">
                <label for="eyes">YEUX</label>
            </div>
            <div class="information-container size-m">
                <input type="text" name="hair" id="hair">
                <label for="hair">CHEVEUX</label>
            </div>
            <div class="information-container size-m">
                <input type="text" name="skin" id="skin">
                <label for="skin">PEAU</label>
            </div>
        </div>
    </div>
    <div class="logo">
        <img src="/assets/images/dungeons-and-dragons-logo-2000.png" alt="logo de Donjons et Dragons">
    </div>
