<table>
    <caption>COMPETENCES</caption>
    <thead>
        <tr>
            <th class="classSkill">Classe?</th>
            <th>Nom de la compétence</th>
            <th>Key Ability</th>
            <th>Skill modifier</th>
            <th>Ability Modifier</th>
            <th>Ranks</th>
            <th>Misc. Modifier</th>
        </tr>
    </thead>
    <tbody *ngIf="skills$ |async as skills">
        <tr *ngFor="let skill of skills" skill-row 
        [skill]="skill"> 
        </tr>
    </tbody>
</table>
<p>• Indique qu'une compétence peut être utilisée de façon innée, c'est à dire sans degré de maîtrise.</p>
<p>&#9632; Indique une compétence de classe pour votre personnage.</p>

