:host {
    display:  flex;
    flex-direction: column;
    height: calc(100vh - 90px);
    width: 100vw;
    padding: 1em 5%;
    background-color: #0b202f;
    color: #fff;
    font-family: alice;
    font-size: large;
}

.characterList-header {
    display: flex;
    gap: 1em;
}

.character-list-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    
    &.no-character {
        justify-content: center;
        
    }
    .character-list {
        width: 95%;
        padding-inline-start: 0;
        list-style: none;

        .character-line {
            width: 100%;
            display: flex;
            gap: 0.5em;

            .character-name {
                flex-grow: 1;
            }
        }
    }

    .add-button {
        border: none;
        border-radius: 50%;
        padding: 0;
        background-color: #0b202f;
        
    }
    .add-button-img {
        display: inline-block;
        width: 50px;

        &.no-character {
            width: 200px;
        }
    }
}
