<ng-container *ngIf="noteListNew$ | async as noteList; else noNoteList">
  <app-list-of-element
    [elementList]="noteList"
    [elementIcon]="'assets/images/discussion-icon.svg'"
    [baseUrl]="'../note'"
  ></app-list-of-element>
  @if(noteList.length) {
  <app-custom-add-button
    [routerLink]="'../../creation'"
  ></app-custom-add-button>
  } @else {
  <main class="notes-main">
    <app-custom-add-button
      [style]="'list-empty'"
      [routerLink]="'../../creation'"
    ></app-custom-add-button>
  </main>
  }
</ng-container>
<ng-template #noNoteList>
  <p>Vous n'êtes connecté à aucune partie</p>
</ng-template>
