<app-page-header [elementIcon]="'assets/images/user-icon.svg'" [title]="'Mes fiches personnage'"></app-page-header>
<ng-container *ngIf="userCharacterList |async as userCharacterList">
@if(userCharacterList.length) {
    <main class="character-list-body ">
        <app-list-of-element [elementList]="userCharacterList" [elementIcon]="'assets/images/character-icon.svg'" [baseUrl]="'../myCharacters'"></app-list-of-element>
        <button class="add-button">
            <img class="add-button-img" src="assets/images/add-round-icon.svg" alt="add">
        </button>
    </main>
} @else {
    <main class="character-list-body list-empty">
        <img class="add-button-img list-empty" src="assets/images/add-round-icon.svg" alt="add">
    </main>
}
</ng-container>
