.page-container {
    padding: 116px 32px;
    width: 1344px;
    margin: 0;
}

.logo {
    width: 320px;

    img {
        width: 320px;
    }
}

.size-470 {
    width: 470px;
}

.size-310 {
    width: 310px;
}

.size-250 {
    width: 250px;
}

.size-196 {
    width: 196px;
}

.size-117 {
    width: 117px;
}

.size-75 {
    width: 75px;
}

.size-40 {
    width: 40px;
}