<div>
    <table class="main-table">
        <thead>
            <tr>
                <th rowspan="2" class="first">{{"armure/protection"| uppercase}}</th>
                <th class="blank" rowspan="1">&nbsp;</th>
                <th class="blank" rowspan="1">&nbsp;</th>
                <th class="blank" rowspan="1">&nbsp;</th>
            </tr>
            <tr>
                <th rowspan="1">{{"type" | uppercase}}</th>
                <th rowspan="1">{{"bonus à la ca" | uppercase}}</th>
                <th rowspan="1">{{"dex max" | uppercase}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <table class="sub-table">
        <thead>
            <tr>
                <th>{{"pénalité" | uppercase}}</th>
                <th>{{"échec de sort" | uppercase}}</th>
                <th>{{"déplacement" | uppercase}}</th>
                <th>{{"poids" | uppercase}}</th>
                <th>{{"propriétés spéciales" | uppercase}}</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
