<article>
  <ul class="rules-container">
    <p class="rule-area-title">Dés disponibles :</p>
    <ul class="rules-detail">
      <li>dé de 6 ("d6")</li>
      <li>dé de 8 ("d8")</li>
      <li>dé de 10 ("d10")</li>
      <li>dé de ("d12")</li>
      <li>dé de 20 ("d20")</li>
      <li>dés de 100 ("d100")</li>
    </ul>
    <p class="rule-area-title">Comment lancer les dés :</p>
    <ul class="rules-detail">
        <li>Écrivez le type de dé précédé de sa quantité (exemple : 1d20)</li>
        <li>Séparez chaque type de dé par un espace (Exemple : 1d6 2d20)</li>
    </ul>
  </ul>
</article>
