<app-page-header [title]="'Mes invitations'" [elementIcon]="'assets/images/myTables-title-icon.svg'"></app-page-header>
<app-custom-area-title [title]="'Tables'"></app-custom-area-title>
<ng-container *ngIf="tableInvitationList$|async as tableInvitationList">
    <app-list-of-element [elementList]="tableInvitationList" [elementIcon]="'assets/images/table-icon.svg'"></app-list-of-element>
</ng-container>
<app-custom-area-title [title]="'Choisis ton personnage'"></app-custom-area-title>
<ng-container *ngIf="availableCharacterList$| async as availableCharacterList">
    <app-available-character-list [elementList]="availableCharacterList"></app-available-character-list>
</ng-container>
<footer class="page-footer">
    <app-custom-button [style]="'gold'" [name]="'Sélectionner'" ></app-custom-button>
</footer>

