:host {
  background-color: #0b202f;
  padding-top: 90px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4em;
}

:host ::ng-deep app-custom-button {
  .button.bgSquare[_ngcontent-ng-c1282570419] {
    width: 38vh;
    height: 108px;
  }
}
