<app-return-button></app-return-button>
<app-page-header
  [title]="'Inscription'"
  [elementIcon]="connexionIcon"
></app-page-header>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <app-custom-area-title [title]="'Pseudonyme'"></app-custom-area-title>
  <ng-container *ngIf="usernameField$ | async as usernameField">
    <app-input-text
      [field]="usernameField"
      formControlName="username"
      [control]="usernameControl"
    >
    </app-input-text>
  </ng-container>

  <app-custom-area-title [title]="'Email'"></app-custom-area-title>
  <ng-container *ngIf="emailField$ | async as emailField">
    <app-input-text
      [field]="emailField"
      formControlName="email"
      [control]="emailControl"
    >
    </app-input-text>
  </ng-container>

  <app-custom-area-title [title]="'Mot de passe'"></app-custom-area-title>
  <ng-container *ngIf="passwordField$ | async as passwordField">
    <app-input-text
      [field]="passwordField"
      formControlName="password"
      [control]="passwordControl"
    >
    </app-input-text>
  </ng-container>

  <app-custom-area-title
    [title]="'Répéter le mot de passe'"
  ></app-custom-area-title>
  <ng-container
    *ngIf="passwordVerificationField$ | async as passwordVerificationField"
  >
    <app-input-text
      [field]="passwordVerificationField"
      formControlName="passwordVerification"
      [control]="passwordVerificationControl"
    >
    </app-input-text>
  </ng-container>

  <app-custom-area-title
    [title]="'Télécharger un avatar'"
  ></app-custom-area-title>
  <app-custom-add-button></app-custom-add-button>

  <app-custom-button
    type="submit"
    [name]="'Valider'"
    [style]="'gold'"
  ></app-custom-button>
</form>

<app-custom-button
  [name]="'Déjà un compte ?'"
  [style]="'dblue-gold'"
  [routerLink]="['/authentification/connexion']"
></app-custom-button>
