<app-page-header [title]="'Inscription'" [elementIcon]="connexionIcon"></app-page-header>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ng-container *ngIf="usernameField$ | async as usernameField"> 
        <app-input-text
        [field]="usernameField"
        formControlName="username"
        [control]="usernameControl"
        >
        </app-input-text>
    </ng-container>

    <ng-container *ngIf="emailField$ | async as emailField"> 
        <app-input-text
        [field]="emailField"
        formControlName="email"
        [control]="emailControl"
        >
        </app-input-text>
    </ng-container>

    <ng-container *ngIf="passwordField$ | async as passwordField"> 
        <app-input-text
        [field]="passwordField"
        formControlName="password"
        [control]="passwordControl"
        >
        </app-input-text>
    </ng-container>

    <ng-container *ngIf="passwordVerificationField$ | async as passwordVerificationField"> 
        <app-input-text
        [field]="passwordVerificationField"
        formControlName="passwordVerification"
        [control]="passwordVerificationControl"
        >
        </app-input-text>
    </ng-container>

    <app-custom-area-title [title]="'Télécharger un avatar'"></app-custom-area-title>
<div class="add-image-area">
    <app-custom-add-button ></app-custom-add-button>
</div>

<app-custom-button type="submit" [name]="'Valider'" [style]="'gold'" class="validation-button"></app-custom-button>
</form>

<app-custom-button [name]="'Déjà un compte ?'" [style]="'dblue-gold'" class="connexion-button" [routerLink]="['/authentification/connexion']"></app-custom-button>