<app-return-button></app-return-button>
<app-page-header
  [title]="'Inscription'"
  [elementIcon]="connexionIcon"
></app-page-header>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="title-container">
    <h2>Pseudonyme</h2>
  </div>
  <ng-container *ngIf="nicknameField$ | async as nicknameField">
    <app-input-text
      [field]="nicknameField"
      formControlName="nickname"
      [control]="nicknameControl"
    >
    </app-input-text>
  </ng-container>

  <div class="title-container">
    <h2>Email</h2>
  </div>
  <ng-container *ngIf="emailField$ | async as emailField">
    <app-input-text
      [field]="emailField"
      formControlName="email"
      [control]="emailControl"
    >
    </app-input-text>
  </ng-container>

  <div class="title-container">
    <h2>Mot de passe</h2>
  </div>
  <ng-container *ngIf="passwordField$ | async as passwordField">
    <app-input-text
      [field]="passwordField"
      formControlName="password"
      [control]="passwordControl"
    >
    </app-input-text>
  </ng-container>

  <div class="title-container">
    <h2>Répéter le mot de passe</h2>
  </div>
  <ng-container
    *ngIf="passwordVerificationField$ | async as passwordVerificationField"
  >
    <app-input-text
      [field]="passwordVerificationField"
      formControlName="passwordVerification"
      [control]="passwordVerificationControl"
    >
    </app-input-text>
  </ng-container>

  <div class="title-container">
    <h2>Télécharger un avatar</h2>
  </div>
  <app-custom-add-button></app-custom-add-button>

  <app-custom-button
    type="submit"
    [name]="'Valider'"
    [style]="'gold'"
  ></app-custom-button>
</form>

<app-custom-button
  [name]="'Déjà un compte ?'"
  [style]="'dblue-gold'"
  [routerLink]="['/authentification/connexion']"
></app-custom-button>
