<div class="img-container">
  <img
    class="character-img"
    [src]="character.avatar ? character.avatar : 'assets/images/user-icon.svg'"
    alt="character"
  />
</div>

<div class="button-container">
  <app-custom-button
    [style]="'dblue-gold'"
    [name]="'Fiche personnage'"
    [routerLink]="'/character-sheet/' + character.characterSheetId"
  ></app-custom-button>

  <div
    class="table-button"
    (click)="
      character.gameTable ? linkToCharacterTable(character.gameTable.id) : null
    "
  >
    <ng-container *ngIf="character.gameTable as gameTable; else noTable">
      <p>Table reliée :</p>
      <div class="table-name">
        <p>{{ gameTable.name }}</p>
      </div>
    </ng-container>
  </div>
  <ng-template #noTable>
    <app-custom-area-title title="Aucune table"></app-custom-area-title>
  </ng-template>
</div>
