<div class="img-container">
  <img
    class="character-img"
    [src]="character.avatar ? character.avatar : 'assets/images/user-icon.svg'"
    alt="character"
  />
</div>

<div class="button-container">
  <app-custom-button
    [style]="'dblue-gold'"
    [name]="'Fiche personnage'"
    [routerLink]="'/character-sheet/' + character.characterSheetId"
  ></app-custom-button>

  <ng-container *ngIf="character.gameTable as gameTable; else noTable">
    <app-custom-area-title
      [title]="'Table reliée :\n' + gameTable.name"
      (click)="linkToCharacterTable(gameTable.id)"
    ></app-custom-area-title>
  </ng-container>
  <ng-template #noTable>
    <app-custom-area-title title="Aucune table"></app-custom-area-title>
  </ng-template>
</div>
