:host {
  height: 40vh;
  padding: 0 6.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .img-container {
    height: 75%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    p {
      font-weight: bold;
    }

    .character-img {
      width: 100%;
      border-radius: 14px;
    }

    .button-container {
      display: flex;
      flex-direction: column;
    }
  }
  .table-button {
    width: 45vw;
    padding: 0.4rem 0;
    display: flex;
    margin-top: 1rem;
    border-radius: 7px;
    border: 1px solid #c29b0f ;
    background-color: #0b202f;
    text-align: center;
    white-space: pre-line;
    flex-direction: column;
    .table-name {
      p {
        margin-top: 0;
        color: #c29b0f;
        font-size: 1.3rem;
        &.wait {
          color: red;
        }
      }
    }
  }
}
