.tools {
  flex: 1;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border: 1px solid black;
  }
  img {
    width: 3rem;
  }
}
