<section>
    <button type="button" (click)="drawFree()">
        <img [src]="drawfreeIcon" alt="Dessin libre">
    </button>
    <button type="button" (click)="drawLine()">
        <img [src]="lineIcon" alt="Ligne">
    </button>
    <button type="button" (click)="drawTriangle()">
        <img [src]="triangleIcon" alt="Triangle">
    </button>
    <button type="button" (click)="drawCirle()">
        <img [src]="circleIcon" alt="Rond">
    </button>
    <button type="button" (click)="drawSquare()">
        <img [src]="squareIcon" alt="Carré">
    </button>
</section>
<section>
    <button type="button" (click)="eraseAll()">
        Reset
    </button>
    <button type="button" (click)="erase()">
        <img [src]="eraseIcon" alt="Gomme">
    </button>
    <button type="button" (click)="undoAction()">
        <img [src]="returnIcon" alt="Effacer">
    </button>
</section>
