<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p-accordion [multiple]="true" [activeIndex]="[]">
      <p-accordionTab header="Titre">
        <ng-container *ngIf="calendarTitleField$ | async as calendarTitleField">
          <app-input-text
            [field]="calendarTitleField"
            formControlName="calendarTitle"
            [control]="calendarTitleControl"
          >
          </app-input-text>
        </ng-container>
      </p-accordionTab>
      <p-accordionTab header="Date">
        <ng-container *ngIf="calendarDateField$ | async as calendarDateField">
          <app-input-text
            [field]="calendarDateField"
            formControlName="calendarDate"
            [control]="calendarDateControl"
          >
          </app-input-text>
        </ng-container>
      </p-accordionTab>
      <p-accordionTab header="Description">
        <ng-container
          *ngIf="calendarDescriptionField$ | async as calendarDescriptionField"
        >
          <app-input-textarea
            [field]="calendarDescriptionField"
            formControlName="calendarDescription"
            [control]="calendarDescriptionControl"
          >
          </app-input-textarea>
        </ng-container>
      </p-accordionTab>
    </p-accordion>
    <app-custom-button
      type="submit"
      [name]="'Valider'"
      [style]="'gold'"
      class="validation-button"
    ></app-custom-button>
  </form>
  