<app-return-button></app-return-button>
<app-page-header
  [elementIcon]="'assets/images/magician-hat-icon.svg'"
  [title]="'Création de personnage'"
></app-page-header>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <p-accordion [multiple]="true" [activeIndex]="[]">
    <p-accordionTab header="Nom du personnage">
      <ng-container *ngIf="characterNameField$ | async as characterNameField">
        <app-input-text
          [field]="characterNameField"
          formControlName="characterName"
          [control]="characterNameControl"
        >
        </app-input-text>
      </ng-container>
    </p-accordionTab>

    <p-accordionTab header="Télécharger un avatar">
      <div class="add-image-area">
        <app-file-upload
          labelFor="imgUrl"
          labelContent="Choisir une image :"
          name="imgUrl"
          id="imgUrl"
        ></app-file-upload>
      </div>
    </p-accordionTab>
  </p-accordion>

  <footer class="page-footer">
    <app-custom-button
      type="submit"
      [style]="'gold'"
      [name]="'Suivant'"
    ></app-custom-button>
  </footer>
</form>
