<app-page-header [elementIcon]="'assets/images/magician-hat-icon.svg'" [title]="'Création de personnage'"></app-page-header>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <ng-container *ngIf="characterNameField$ | async as characterNameField"> 
        <app-input-text
        [field]="characterNameField"
        formControlName="characterName"
        [control]="characterNameControl"
        >
        </app-input-text>
    </ng-container>

<app-custom-area-title [title]="'Télécharger un avatar'"></app-custom-area-title>
<div class="add-image-area">
    <app-custom-add-button ></app-custom-add-button>
    <!-- <p-fileUpload 
    mode="basic" 
    src=""
    name="demo[]" 
    url="https://www.primefaces.org/cdn/api/upload.php" 
    accept="image/*" 
    maxFileSize="1000000" 
    /> -->

</div>
<app-custom-button [style]="'gold'" [name]="'Suivant'" ></app-custom-button>
</form>


<!--
    // A rajouter dans p-fileupload au moment de l'utilisation avec la bdd
        (onUpload)="onUpload($event)" 
-->