:host {
  display: flex;
  width: 90%;
  height: 250px;
  padding: 1rem;
  margin: 0.5rem 0;
  border: 1px solid #c29b0f;
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .img-container {
    height: 100%;
    width: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-end;

    .character-img {
      height: 100%;
    }
  }
}
