<app-return-button></app-return-button>
<app-page-header [title]="'Mon compte'" [elementIcon]="connexionIcon"></app-page-header>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
<ng-container *ngIf="usernameChangeField$ | async as usernameChangeField"> 
    <app-input-text
        [field]="usernameChangeField"
        formControlName="usernameChange"
        [control]="usernameChangeControl"
    >
    </app-input-text>
</ng-container>
<app-custom-area-title [title]="'Changer d\'avatar'"></app-custom-area-title>

<div class="avatar-img-container">
<img [src]="userAvatar" alt="Image de profil utilisateur" class="avatar-img">
</div>

<app-custom-button type="submit" [name]="'Valider'" [style]="'gold'" class="validation-button"></app-custom-button>


</form>