<app-return-button></app-return-button>
<app-page-header
  [title]="'Mon compte'"
  [elementIcon]="connexionIcon"
></app-page-header>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <p-accordion [multiple]="true" [activeIndex]="[]">
    <p-accordionTab header="Pseudonyme">
      <ng-container *ngIf="nicknameChangeField$ | async as nicknameChangeField">
        <app-input-text
          [field]="nicknameChangeField"
          formControlName="nicknameChange"
          [control]="nicknameChangeControl"
        >
        </app-input-text>
      </ng-container>
    </p-accordionTab>

    <p-accordionTab header="Changer d'avatar">
      <div class="avatar-img-container">
        <img
          [src]="userAvatar"
          alt="Image de profil utilisateur"
          class="avatar-img"
        />
      </div>
    </p-accordionTab>
  </p-accordion>

  <app-custom-button
    type="submit"
    [name]="'Valider'"
    [style]="'gold'"
  ></app-custom-button>

  <app-custom-button
    type="submit"
    [name]="'Supprimer mon compte'"
    [style]="'red'"
    class="validation-button"
  ></app-custom-button>
</form>
