<app-return-button></app-return-button>
<app-page-header
  [title]="'Connexion'"
  [elementIcon]="connexionIcon"
></app-page-header>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <p-accordion [multiple]="true" [activeIndex]="[]">
    <p-accordionTab header="Email">
      <ng-container *ngIf="emailField$ | async as emailField">
        <app-input-text
          [field]="emailField"
          formControlName="email"
          [control]="emailControl"
        >
        </app-input-text>
      </ng-container>
    </p-accordionTab>
    <p-accordionTab header="Mot de passe">
      <ng-container *ngIf="passwordField$ | async as passwordField">
        <app-input-text
          [field]="passwordField"
          formControlName="password"
          [control]="passwordControl"
        >
        </app-input-text>
      </ng-container>
    </p-accordionTab>
  </p-accordion>
  <app-custom-button
    type="submit"
    [name]="'Valider'"
    [style]="'gold'"
  ></app-custom-button>
</form>

<app-custom-button
  [name]="'Pas encore de compte ?'"
  [style]="'dblue-gold'"
  [routerLink]="['/authentification/inscription']"
></app-custom-button>
