<app-return-button></app-return-button>
<app-page-header
  [title]="'Connexion'"
  [elementIcon]="connexionIcon"
></app-page-header>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <app-custom-area-title [title]="'Email'"></app-custom-area-title>
  <ng-container *ngIf="emailField$ | async as emailField">
    <app-input-text
      [field]="emailField"
      formControlName="email"
      [control]="emailControl"
    >
    </app-input-text>
  </ng-container>

  <app-custom-area-title [title]="'Mot de passe'"></app-custom-area-title>
  <ng-container *ngIf="passwordField$ | async as passwordField">
    <app-input-text
      [field]="passwordField"
      formControlName="password"
      [control]="passwordControl"
    >
    </app-input-text>
  </ng-container>

  <app-custom-button
    type="submit"
    [name]="'Valider'"
    [style]="'gold'"
  ></app-custom-button>
</form>

<app-custom-button
  [name]="'Pas encore de compte ?'"
  [style]="'dblue-gold'"
  [routerLink]="['/authentification/inscription']"
></app-custom-button>
