<div class="title-case">
    <div class="major">CA</div>
    <div class="minor">Classe d'armure</div>
</div>
<div>
   <div class="case total">{{armorClass}}</div>
   <div>TOTAL</div>    
</div>
<div>
    <div class="case no-border">10</div>
</div>
<div>
    <div class="case"></div>
    <div class="minor">{{"armure" | uppercase}}</div>
</div>
<div>
    <div class="case"></div>
    <div class="minor">{{"Bonus de bouclier" | uppercase}}</div>
</div>
<div>
    <div class="case"></div>
    <div class="minor">{{"mod. de dex" | uppercase}}</div>
</div>
<div>
    <div class="case"></div>
    <div class="minor">{{"mod. de taille" | uppercase}}</div>
</div>
<div>
    <div class="case"></div>
    <div class="minor">{{"armure naturelle" | uppercase}}</div>
</div>
<div>
    <div class="case"></div>
    <div class="minor">{{"mod de parade" | uppercase}}</div>
</div>
<div>
    <div class="case last"></div>
    <div class="minor">{{"mod divers" | uppercase}}</div>
</div>

<div class="title-case second-line">
    <div class="minor">Classe d'armure</div>
    <div class="major under">Attaques de contact</div>
</div>
<div>
<div class="case last "></div>
</div>
<div class="title-case second-line">
    <div class="minor">Classe d'armure</div>
    <div class="major under">Pris au dépourvu</div>
    
</div> 
<div class="case last"></div>
