<td>{{skill.skillClass ? "o" : "x" }}</td>
<!-- <td>{{skill.id}}</td> -->
<td>{{skill.detailsFromDb.key}}  
    {{skill.detailsFromDb.innate ? "•" : ""}}</td>
<td>{{skill.detailsFromDb.name}} <input type="text" *ngIf="skill.detailsFromDb.choice" [(ngModel)]="complement" (ngModelDebounceChange)="sendChanges()"></td>
<td>{{skill.calcValue()}}</td>
<td>{{skill.statMod}}</td>
<td><input type="number" value="{{skill.ranks || 0}}" [(ngModel)]="ranks" (ngModelChange)="sendChanges()" min="0"></td>
<td>{{skill.raceValue}}</td>
